{% unless page.comments == false %}
<div id="comments"></div>
<script src="https://giscus.app/client.js"
        data-repo="masterwifinetworksolution/masterwifinetworksolution.github.io"
        data-repo-id="R_kgDOMwuNZw"
        data-category="Q&A"
        data-category-id="DIC_kwDOMwuNZ84Cj-9m"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="id"
        crossorigin="anonymous"
        async>
</script>
{% endunless %}