<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-adsense-account" content="ca-pub-1794381705838564">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
  <meta name="keywords" content="wifi, network, openwrt, mikrotik, modem, router, aplikasi, antena, jasa pasang wifi, jasa remote wifi">
  <meta name="author" content="{{ site.author }}">
  <meta name="robots" content="index, follow">
  <meta name="google" content="notranslate">
  <meta name="google-site-verification" content="googled41425154ba52776">
  <meta property="og:title" content="{{ page.title }} - {{ site.title }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:image" content="{{ "/assets/images/banner.jpg" | relative_url }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@masterwifinetworksolution">
  <meta name="twitter:title" content="{{ page.title }} - {{ site.title }}">
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
  <meta name="twitter:image" content="{{ "/assets/images/banner.jpg" | relative_url }}">
  <link rel="icon" href="{{ "/assets/images/favicon.ico" | relative_url }}" type="image/x-icon">
  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}">
  <!-- Sitemap -->
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "/sitemap.xml" | relative_url }}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <!-- Syntax -->
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css">
  <!-- FontAwesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Nico+Moji&display=swap" rel="stylesheet">
  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1794381705838564" crossorigin="anonymous"></script>
  <!-- Google Analytics 4 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FW998S2190"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-FW998S2190');
  </script>
</head>

