<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top d-flex justify-content-between">
  <a class="navbar-brand ms-3" href="/">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 5px;">
    <span class="navbar-toggler-icon"></span>
  </button>  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto ms-3">
      <li class="nav-item ms-4 me-4 d-flex align-items-center">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="toggle-mode" role="switch">
          <label class="form-check-label ms-2 mb-0" for="toggle-mode">
            <i class="fas fa-sun" id="icon-sun"></i>
            <i class="fas fa-moon d-none" id="icon-moon"></i>
          </label>
        </div>
      </li>
      <li class="nav-item active ms-4 me-4 d-flex align-items-center">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item ms-4 me-4 d-flex align-items-center">
        <a class="nav-link" href="/sitemap/">Sitemap</a>
      </li>
      <li class="nav-item dropdown ms-4 me-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        About
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/profile.html">Profile</a></li>
          <li><div class="dropdown-divider"></div></li>
          <li><a class="dropdown-item" href="/contact.html">Contact</a></li>
          <li><div class="dropdown-divider"></div></li>
          <li><a class="dropdown-item" href="/donate.html">Donate</a></li>
          <li><div class="dropdown-divider"></div></li>
          <li><a class="dropdown-item" href="/disclaimer.html">Disclaimer</a></li>
          <li><div class="dropdown-divider"></div></li>
          <li><a class="dropdown-item" href="/privacy-policy.html">Privacy Policy</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown ms-4 me-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDocs" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Docs
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownDocs">
          <li><a class="dropdown-item" href="/videos.html">Videos</a></li>
          <li><div class="dropdown-divider"></div></li>
          <li><a class="dropdown-item" href="/files/">Files</a></li>
          <li><div class="dropdown-divider"></div></li>
          <li><a class="dropdown-item" href="/documentation.html">Documentation</a></li>
          <li><div class="dropdown-divider"></div></li>
          <li><a class="dropdown-item" href="/openwrt/">Firmware Openwrt</a></li>
        </ul>
      </li>
      <li class="nav-item ms-4 me-4 d-flex align-items-center">
        <a class="nav-link" href="/search.html">Search</a>
      </li>
    </ul>
  </div>
</nav>

