    <div class="container">
        <div class="video-list">
            <ul>
                <li class="video-item">
                    <a href="#" onclick="playVideo('VIDEO_ID_1')">Video Title 1</a>
                </li>
                <li class="video-item">
                    <a href="#" onclick="playVideo('VIDEO_ID_2')">Video Title 2</a>
                </li>
                <li class="video-item">
                    <a href="#" onclick="playVideo('VIDEO_ID_3')">Video Title 3</a>
                </li>
                <!-- Tambahkan video lainnya sesuai kebutuhan -->
            </ul>
        </div>
        <div class="video-player">
            <iframe id="player" width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID_1" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>