---
layout: default
---

<div class="main-content">
  <!-- Advertisement card -->
  <div class="card mt-4">
    <div class="card-header">
      <h5>Advertisement</h5>
    </div>
    <div class="card-body">
      {% include iklan.html %}
    </div>
  </div>
  <!-- Konten -->
    {{ content }}
  <!-- Advertisement card -->
  <div class="card mt-4">
    <div class="card-header">
      <h5>Advertisement</h5>
    </div>
    <div class="card-body">
      {% include iklan.html %}
    </div>
  </div>
</div>
